<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update Employee Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container">
  <h2 class="text-center text-danger">All Employee Data</h2>
  <button><a href="/create_emp/">Create Employee</a></button>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>        
        <th>Email</th>
        <th>Mobile</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for emp in emp_data %}
      <tr class="{% cycle 'info' 'warning' 'active' 'danger' %}">
        <td>{{ emp.name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.mobile_no }}</td>
        <td><a href="/delete/{{ emp.id }}/"><i class="fa fa-trash-o" style="font-size:48px;color:red"></i></td>
        <td><a href="/update/{{ emp.id }}/"><i class="fa fa-edit" style="font-size:48px;color:red"></td> 
      </tr>  
      {% endfor %}
      
    </tbody>
  </table>
</div>

</body>
</html>

